
{% sw_extends '@Storefront/storefront/base.html.twig' %}
{% block base_content %}
   {# {% set keys = page.categories.entities.elements|keys %}
  {% set category = page.categories.entities.elements[keys[0]] %} #}


  <div data-example-plugin>
  <div id="ajax-display"></div> 
  <h4>Our categories</h4>
  {% set categories = page.categories %}
  {% for category in categories %}
   <li>  
      {# <button  id="ajax-button"  data-id="{{ category.id }}">{{ category.translated.name }}</button>  #}
       <a href="#" data-id="{{ category.id }}" class="ajax-button">{{ category.translated.name }}</button>
    </li>      
  {% endfor %}
 </div>

{% endblock %}
