 {% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

 {% block layout_header_logo_link %}
<img src="http://satyr.io/200x40/1?text=Shopware+6" alt="">
    <!--<h4>Hello world!</h4>-->
    <h4>{{'SwagQuickstart.subtitle'|trans}}</h4>


{% endblock %}