{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main %}
{# <h2>Asset:</h2> #}
{#Using asset function to display our custom assets#}
 {# <img src="{{ asset('bundles/swagquickstarttheme/image.jpg', 'asset') }}"
/> #}

    {{ parent() }}


{% endblock %}


